.login-box-body {
    /*background: #5680E9;*/
    background: rgb(86,128,233);
    background: linear-gradient(180deg, rgba(86,128,233,1) 15%, rgba(211,222,250,1) 100%);
    color: #ffffff;
}
.login-box-body a {
    /*color: #ffffff;*/
    margin-top: 10px;
}
.login-box-body a:hover,
.login-box-body a:focus {
    color: #777;
}
.login-box-body label {
    font-weight: normal;
    /*color: #c2c2c2;*/
}
.login-box-body input:focus {
    border-color: #414141;
}
.login-page,
.register-page {
    background: #fff8f9;
}
.login-box-msg,
.register-box-msg {
  text-align: left;
  padding-left: 0 !important;
}
.text-white {
    color: #869187;
}
.bg-login {
    color: #fff;
    background-color: #848484 !important;
}
.bg-login:hover,
.bg-login:focus {
  color: #fff !important;
}
.pt-5 {
    padding-top: 5px;
}
footer {
    color: #869187;
    text-align: center;
    font-size: 12px;
    /*position: absolute;*/
    bottom: 0;
    padding: 30px;
    width: 100%;
}