/* Override Bootstrap */
/* this breaks responsiveness */
.nav-tabs > li {
    float: none !important;
}
.nav-tabs {
    border: none;
}

/* SmartWizard Theme: Circles (CTAF) */
.sw-theme-circles {
    margin: 30px 0 10px;
}

.sw-theme-circles .sw-container {
    margin-top: 30px;
}

.sw-theme-circles .step-content {
    padding: 10px 0;
    background-color: #FFF;
    text-align: left;
}

.sw-theme-circles .sw-toolbar {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0 !important;
}

.sw-theme-circles .sw-toolbar-bottom {
    border-top-color: #ddd !important;
    border-bottom-color: #ddd !important;
}

.sw-theme-circles > ul.step-anchor {
    display: table !important;
    list-style: none;
    position: relative;
    width: 100%;
}

.sw-theme-circles > ul.step-anchor > li {
    display: table-cell !important;
    text-align: center;
}
.sw-theme-circles > ul.step-anchor > li:before {
    content: "";
    height: 5px;
    background-color: #e4e4e4;
    position: absolute;
    top: 20px;
    z-index: 0;
    width: 100%;
    left: 0;
}
.sw-theme-circles > ul.step-anchor > li:first-child:before {
    left: 50%;
}
.sw-theme-circles > ul.step-anchor > li:last-child:before {
    right: 50%;
    width: 50%;
    left: auto;
}
.sw-theme-circles > ul.step-anchor > li.active:before,
.sw-theme-circles > ul.step-anchor > li.done:before {
    background-color: #848484;
}

.sw-theme-circles > ul.step-anchor > li > a {
    color: #ccc;
    background: #eee;
    display: block;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 5px #e4e4e4 inset;
            box-shadow: 0px 0px 0px 5px #e4e4e4 inset;
    text-align: center;
    margin: 0 auto 5px;
    z-index: 99;
    position: relative;
    padding-top: 12px;
}
.sw-theme-circles > ul.step-anchor > li > a:hover {
    cursor: default;
}
.sw-theme-circles > ul.step-anchor > li.active > a {
    color: #848484;
    background: #fff;
    -webkit-box-shadow: 0px 0px 0px 5px #848484 inset;
            box-shadow: 0px 0px 0px 5px #848484 inset;
}
.sw-theme-circles > ul.step-anchor > li > a:hover + .sw-theme-circles > ul.step-anchor > li:before {
    background-color: #848484;
}
.sw-theme-circles > ul.step-anchor > li.done > a {
    background: #848484;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
}