<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>#TITLE_HEAD# | #app_title#</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/css/Ionicons/css/ionicons.min.css">

    <!-- cut:css_select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <!-- /cut:css_select2 -->
    <!-- cut:css_smart_wizard_theme_circles -->
    <link rel="stylesheet" href="/css/swtheme-circles-ctaf.css">
    <!-- /cut:css_smart_wizard_theme_circles -->
    <!-- cut:css_i_check -->
    <link rel="stylesheet" href="/plugins/iCheck/square/square.css">
    <!-- /cut:css_i_check -->
    <!-- cut:css_summer_note -->
    <link rel="stylesheet" href="/css/summernote.css">
    <!-- /cut:css_summer_note -->
    <!-- cut:css_data_tables -->
    <link rel="stylesheet" href="/plugins/DataTables/datatables.min.css">
    <!-- /cut:css_data_tables -->
    <!-- cut:css_survey_editor -->
    <link rel="stylesheet" href="/plugins/SurveyJS/surveyeditor.css">
    <!-- /cut:css_survey_editor -->

    <!-- Theme style -->
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <!-- CTAF Skin for AdminLTE 2 -->
    <link rel="stylesheet" href="/css/skins/skin-ctaf.css">
    <link rel="stylesheet" href="/css/skins/skin-ctaf-admin.css">

</head>
<body>
<!-- cut:content -->
<section class="content">
    <div class="box box-ctaf">
        <div class="box-body">
            <button type="button" id="md-save" class="btn btn-primary mb-10 bgc-1">Save</button>
            <button type="button" id="cancel-changes" class="btn btn-primary mb-10 bgc-1">Back to list</button>
            <div id="table_chorg_div" class="display" style="width:100%">
                <form id="mdedit"></form>
            </div>
            <div id="res" class="alert"></div>
        </div>
    </div>
</section>


<!-- /cut:content -->

<!-- jQuery 3 -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="/js/jquery.slimscroll.min.js"></script>-->
<!-- FastClick-->
<!--<script src="/js/fastclick.js"></script>-->
<!-- AdminLTE App-->
<!--<script src="/js/adminlte.min.js"></script>-->

<!-- cut:js_select2-->
<!--<script src="/plugins/select2/js/select2.full.min.js"></script>-->
<!-- /cut:js_select2-->
<!-- cut:js_i_check-->
<!--<script src="/plugins/iCheck/icheck.min.js"></script>-->
<!-- /cut:js_i_check-->
<!-- cut:js_jquery_validate-->
<!--<script src="/js/jquery.validate.min.js"></script>-->
<!-- /cut:js_jquery_validate-->
<!-- cut:js_red_connect-->
<!--
<script src="/js/ct-custom.js"></script>
-->
<!-- /cut:js_red_connect-->
<!-- cut:js_profile-->
<!--<script src="/js/profile.js"></script>-->
<!-- /cut:js_profile -->
<script>
    <!-- paste:custom_scripts -->
</script>

<!--jquery schedule-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/jqsched/jquery.schedule.js"></script>


<!-- cut:js_dtchorg -->
<!--jsonForm scripts-->
<!-- underscore 1.8.3-->
<script type="text/javascript" src="/jsonform/deps/underscore.js"></script>
<script type="text/javascript" src="/jsonform/deps/opt/jsv.js"></script>
<script type="text/javascript" src="/jsonform/lib/jsonform.js"></script>
<script type="text/javascript">

    window.chorgIDListPHP = #chorgidlist?#;
    window.chorgMapListPHP = #chorgmaplist?#;
    // info type list
    window.contactInfoTypeListPHP = #contactinfotypelist?#;
    window.contactInfoIDListPHP = #contactinfoIDlist?#;
    // form values
    window.formValuesPHP = #jsonvaluesphp?#;
    window.formMethodMeta = "#formmethod#";
    // product list
    window.productNameList = #productnamelist?#;
    window.productIDlist = #productidlist?#;
    // specialties list
    window.specialtiesNameList = #specialtiesnamelist?#;
    window.specialtiesIDlist = #specialtiesidlist?#;
    // subspecialties list
    window.subspecialtiesNameList = #subspecialtiesnamelist?#;
    window.subspecialtiesIDlist = #subspecialtiesidlist?#;
    // potential list
    window.potentialList = #potentialList?#;
    window.potentialIDlist = #potentialIDlist?#;
    // label shim list
    window.labelShim = [];


    JSONForm.fieldTypes['weeksched'] = {
        'template': '<div>' +
            '<input type="hidden" name="<%= node.name %>" id="<%= node.id %>" value="<%= value %>" />' +
            '<a class="btn" data-toggle="modal" id="schedBtn<%= node.arrayPath[0]%>" href="#myModal<%= node.arrayPath[0]%>">' +
            '<%= buttonTitle %>' +
            '</a>' +
            '</div>' +
            '<div id="schedlist<%= node.arrayPath[0]%>"></div>' +
            '<div class="modal fade" id="myModal<%= node.arrayPath[0]%>" tabindex="-1" role="dialog" ' +
            'data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">\n' +
            '    <div class="modal-dialog modal-lg" role="document">\n' +
            '        <div class="modal-content">\n' +
            '            <div class="modal-header">\n' +
            '                <button type="button" class="close" data-dismiss="modal">&times;</button>\n' +
            '                <h4 class="modal-title">Set schedule for location</h4>\n' +
            '<button id="schedSave" type="submit" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-check"></span> Save</button>' +
            '&nbsp;<button id="schedReset" type="button" class="btn btn-danger btn-default "        ><span class="glyphicon glyphicon-refresh"></span> Reset</button>' +
            '&nbsp;<button id="schedCancel" type="button" class="btn btn-danger btn-default " data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>' +
            '            </div>\n' +
            '            <div class="modal-body">\n' +
            '                <div id="schedule<%= node.arrayPath[0]%>" class="jqs-demo mb-3"></div>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>',
        'fieldtemplate': true,
        'inputfield': true,
        'onBeforeRender': function (data, node) {
            var elt = node.formElement || {};
            var nbRows = null;
            var maxColumns = elt.imageSelectorColumns || 5;
            data.buttonTitle = elt.imageSelectorTitle || 'Select...';
            data.buttonClass = elt.imageButtonClass || false;
            // data.columns = maxColumns;
        },
        'getElement': function (el) {
            return $(el).parent().get(0);
        },
        'onInsert': function (evt, node) {
            dayIdxName = [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
            ];
            // console.log("node value length");
            // console.log(typeof node.value === 'undefined');
            if (typeof node.value !== 'undefined') {
                jqsschedObj = JSON.parse(node.value);
                console.log("sched obj");
                console.log(jqsschedObj);
                // $jqsschedString = JSON.stringify(jqsschedObj, null, 2);
                $aHref = $(node.el).find('div#schedlist' + node.arrayPath[0]);
                $aHref.empty();
                _.each(jqsschedObj, function (key, idx) {
                    if (key.periods.length) {
                        _.each(key.periods, function (key2, idx2) {
                            $aHref.append('<p>' + dayIdxName[idx] + ': ' + key2.start + '-' + key2.end + '</p>');
                        });
                    }
                });
            }
            $(node.el).on('click', 'button#schedReset', function (evt){
                // console.log("Cancel got clicked");
                $('#schedule'+node.arrayPath[0]).jqs('reset');
                evt.preventDefault();
            });
            $(node.el).on('click', 'button#schedSave', function (evt){
                // console.log("Save got clicked");
                jqsschedObj = JSON.parse($('#schedule'+node.arrayPath[0]).jqs('export'));
                // console.log("sched obj");
                // console.log(jqsschedObj);
                $jqsschedString = JSON.stringify(jqsschedObj, null, 2);
                $aHref = $(node.el).find('div#schedlist'+node.arrayPath[0]);
                $aHref.empty();
                _.each(jqsschedObj, function(key, idx) {
                    if (key.periods.length) {
                        _.each(key.periods, function (key2, idx2){
                            $aHref.append('<p>'+dayIdxName[idx]+': '+key2.start+'-'+key2.end+'</p>');
                        });
                    }
                });

                // nodeinput = $(node.el).find('input')
                // console.log("nodeinput test");
                // console.log(nodeinput);

                $(node.el).find('input').attr('value', $jqsschedString);
                evt.preventDefault();
            });
            // console.log("Find dem button");
            // console.log($(node.el).find("[id^=schedBtn]"));
            $(node.el).find("[id^=schedBtn]").on('click', function (e){
            // Set/Edit Schedule button
            //    this is problematic
                locationLabel = $(node.el).parent().find("[id$=location]")[0].selectedOptions[0].label;

                $(node.el).parent().parent().find("[id$=locationLabel]").value = locationLabel;
                // console.log("finding locationLabel hidden input");
                // console.log($(node.el).parent().parent().find("[id$=locationLabel]").value);
                //find("[id$=locationLabel]")
                // console.log($(node.el).prev().children()[0].childNodes[0].selectedOptions[0].label);

                $(node.el).find('h4.modal-title').text("Set schedule for "+locationLabel);
                // console.log("dom traverse check");
                // console.log(locationLabel);
                // e.preventDefault();
                // e.stopPropagation();
            });
            function IsJsonString(str) {
                try {
                    JSON.parse(str);
                } catch (e) {
                    return false;
                }
                return true;
            }
            $('#myModal'+node.arrayPath[0]).on('shown.bs.modal', function (e) {
                // checkit = $(node.el).siblings()[0].childNodes[0].childNodes[0].textContent.trim();
                schedSt = $(node.el).find('input')[0].value;
                schedStOb = [];
                if ((schedSt.length > 0) &&
                (IsJsonString(schedSt))){
                    schedStOb = JSON.parse($(node.el).find('input')[0].value);
                    // console.log("what is my modal's data");
                    // console.log(schedStOb);
                }
                $('#schedule'+node.arrayPath[0]).jqs({ hour: 12});
                $('#schedule'+node.arrayPath[0]).jqs('import',schedStOb);
                $('#schedule'+node.arrayPath[0]).trigger('focus');
            });
            $('#myModal'+node.arrayPath[0]).on('hidden.bs.modal', function (e) {
                $('#schedule'+node.arrayPath[0]).jqs('reset');
                // console.log("schedule was hidden");
            });
        }
    };

    function escapeRegExp(string){
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'); // $& means the whole matched string
    }

    function labelAllShim() {
        //find label fields
        labelFields = $("#mdedit").find("[id$=Label]")
        // console.log("What's your label fields");
        // console.log(labelFields);
        sourceF = [];
        $.each(labelFields,function (k,v){
            idStr = v.id;
            console.log("v value: pre: "+idStr);
            console.log(v.value);
            // console.log("idStr 1");
            // console.log(idStr);
            idStr = idStr.match(/(.*\..*)Label/);
            // console.log("idStr 2");
            // console.log(idStr);
            labelSource =  $("#mdedit").find("[id$="+ escapeRegExp(idStr[1])+"]")[0];
            tLabel = labelSource.selectedOptions[0].label
            console.log("tLabel: selectedOptions:");
            console.log(tLabel);
            sourceF.push(tLabel);
            v.value=tLabel;
            console.log("v value: post:");
            console.log(v.value);
        });
        console.log("sourceF");
        console.log(sourceF);
    }

    function insertShim(evt) {
        myId = evt.target.find("select")[0].id;
        console.log("> > > insertShim myId");
        console.log(myId);
        labelInput = $("#mdedit").find("[id$="+ escapeRegExp(myId)+"Label]")[0];
        console.log("> > > insertShim label Id");
        console.log(labelInput);
        window.labelShim.push({"myId": myId,"labelInput": labelInput});
        console.log("> > > labelShim: myId and labelInput:");
        console.log(window.labelShim[window.labelShim.length-1].myId);
        console.log(window.labelShim[window.labelShim.length-1].labelInput);
    }


    $( document ).ready(function() {
        $('#mdedit').attr('action', "/mds/save");
        $('#mdedit').attr('method', "POST");

        myForm = {
            "schema": {
                "_id": {
                    "type": 'string',
                },
                "methodMeta": {
                    "type": "string",
                },
                "locations": {
                    "type": "array",
                    "title": "Clinic/Hospital Locations and Schedule",
                    "items": {
                        "type": "object",
                        "properties": {
                            "location": {
                                "type": "string",
                                "notitle": true,
                                "enum": window.chorgIDListPHP,
                                "required": true
                            },
                            "locationLabel": {
                                "type": "string"
                            },
                            "schedule": {
                                "type": "string",
                                "notitle": true,
                                "required": true
                            }
                        }
                    }
                },
                "firstName": {
                    "type": "string",
                    "title": "First Name",
                    "required": true
                },
                "lastName": {
                    "type": "string",
                    "title": "Last Name",
                    "required": true
                },
                "mdcontactInformation": {
                    "type": "array",
                    "title": "MD Contact Information",
                    "items": {
                        "type": "object",
                        "properties": {
                            "infoType": {
                                "type": "string",
                                "enum": window.contactInfoIDListPHP,
                                "required": true
                            },
                            "infoTypeLabel": {
                                "type": "string"
                            },
                            "infoValue": {
                                "type": "string",
                                "required": true
                            }
                        }
                    }
                },
                "secretaryList":{
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "firstName": {
                                "type": "string",
                                "title": "First Name"
                            },
                            "lastName": {
                                "type": "string",
                                "title": "Last Name"
                            },
                            "contactInformation": {
                                "type": "array",
                                "title": "Contact Information",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "infoType": {
                                            "type": "string",
                                            "enum": window.contactInfoIDListPHP
                                        },
                                        "infoTypeLabel": {
                                            "type": "string"
                                        },
                                        "infoValue": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "products": {
                    "type": "array",
                    "required": true,
                    "title": "Product Information",
                    "items": {
                        "type": "object",
                        "properties": {
                            "product": {
                                "type": "string",
                                "enum": window.productIDlist,
                                "required": true,
                            },
                            "productLabel": {
                                "type": "string"
                            },
                            "datestarted" : {
                                "type": "string",
                                "required": true
                            },
                            "datestopped" : {
                                "type": "string"
                            }
                        }
                    }
                },
                "specialties" : {
                    "type": "array",
                    "required": true,
                    "items": {
                        "type": "string",
                        "enum": window.specialtiesIDlist
                    }
                },
                "specialtyLabel": {
                    "type": "string",
                    "enum": window.specialtiesNameList
                },

                "subspecialties" : {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum": window.subspecialtiesIDlist
                    }
                },
                "subspecialtyLabel": {
                    "type": "string",
                    "enum": window.subspecialtiesNameList
                },
                "potentials" : {
                    "type": "array",
                    "required": true,
                    "items": {
                        "type": "object",
                        "properties": {
                            "potential": {
                                "type": "string",
                                "enum": window.potentialIDlist,
                                "required": true,
                            },
                            "potentialLabel": {
                                "type": "string",
                                "enum": window.potentialList
                            },
                            "datestarted" : {
                                "type": "string",
                                "required": true
                            }
                        }
                    }
                }
            },
            "form": [
                {
                    "key": "_id",
                    "type": "hidden"
                },
                {
                    "key": "methodMeta",
                    "type": "hidden"
                },
                {
                    "type": "tabarray",
                    "title": "Clinic/Hospital Locations",
                    "items": {
                        "type": "section",
                        "title": "Location {{idx}}",
                        "items": [
                            {
                                "key": "locations[].location",
                                "title": "",
                                "notitle": true,
                                "titleMap": window.chorgMapListPHP,
                                "onChange": function (evt) {
                                    $(evt.target).parent().parent().parent().find("[id$=locationLabel]")[0].value=
                                        $(evt.target)[0].selectedOptions[0].label;
                                },
                                "onInsert": function (evt) {
                                    insertShim(evt);
                                    // setInterval(function(){
                                    //     $(evt.target).parent().parent().find("[id$=infoTypeLabel]")[0].value=
                                    //         $(evt.target).find("[id$=infoType]")[0].selectedOptions[0].label;
                                    // },1000);
                                },
                                "onClick": function (evt) {
                                    try {
                                        // first click on dropdown
                                        console.log("Select input with selected option label");
                                        console.log($(evt.target)[0].selectedOptions[0].label);
                                        $(evt.target).parent().parent().parent().find("[id$=locationLabel]")[0].value =
                                            $(evt.target)[0].selectedOptions[0].label;
                                        console.log("Rechecking hidden:");
                                        console.log($(evt.target).parent().parent().parent().find("[id$=locationLabel]")[0]);
                                    } catch (e) {
                                        // second click on option in dropdown
                                        console.log("Selected Option label");
                                        console.log($(evt.target)[0].label);
                                        $(evt.target).parent().parent().parent().parent().find("[id$=locationLabel]")[0].value =
                                            $(evt.target)[0].label;
                                        console.log("Rechecking hidden:");
                                        console.log($(evt.target).parent().parent().parent().parent().find("[id$=locationLabel]")[0]);
                                    }
                                }
                            },
                            {
                                "key": "locations[].locationLabel",
                                "type": "hidden"
                            },
                            {
                                "key": "locations[].schedule",
                                "notitle": "true",
                                "type": "weeksched",
                                "imageButtonClass": "btn",
                                "imageSelectorTitle": "Set/Edit schedule"
                            },
                        ]
                    }
                },
                {
                    "type": "fieldset",
                    "title": "MD Name",
                    "items": [
                        {
                            "key": "firstName",
                            "type": "text"
                        },
                        {
                            "key": "lastName",
                            "type": "text"
                        },
                        {
                            // "key": "mdcontactInformation",
                            "type": "array",
                            "title": "Contact Info",
                            "items": {
                                "type": "section",
                                "items": [
                                    {
                                        "key": "mdcontactInformation[].infoType",
                                        "htmlClass": "infotype pull-left",
                                        "notitle": "true",
                                        "titleMap": window.contactInfoTypeListPHP,
                                        "onChange": function (evt) {
                                            console.log("sec contactinfo infoType got changed.");
                                            $(evt.target).parent().parent().parent().find("[id$=infoTypeLabel]")[0].value=
                                                $(evt.target)[0].selectedOptions[0].label;
                                        },
                                        "onInsert": function (evt) {
                                            insertShim(evt);
                                            // setInterval(function(){
                                            //     $(evt.target).parent().parent().find("[id$=infoTypeLabel]")[0].value=
                                            //         $(evt.target).find("[id$=infoType]")[0].selectedOptions[0].label;
                                            // },1000);
                                        },
                                        "onClick": function (evt) {
                                            // try {
                                            //     testObj = $(evt.target)[0].selectedOptions[0].label;
                                            //     console.log("test select object 1");
                                            //     console.log(testObj);
                                            // } catch (e) {
                                            //     console.log("Silenced error: test select object 1");
                                            //     // console.log(e);
                                            // }
                                            // try {
                                            //     testObj = $(evt.target);
                                            //     console.log("test select object 2");
                                            //     console.log(testObj);
                                            // } catch (e) {
                                            //     // console.log("Silenced error: test select object 2");
                                            //     // console.log(e);
                                            // }
                                            try {
                                                // first click on dropdown
                                                // console.log("Select input with selected option label");
                                                // console.log($(evt.target)[0].selectedOptions[0].label);
                                                $(evt.target).parent().parent().parent().find("[id$=infoTypeLabel]")[0].value =
                                                $(evt.target)[0].selectedOptions[0].label;
                                                // console.log("Rechecking hidden:");
                                                // console.log($(evt.target).parent().parent().parent().find("[id$=infoTypeLabel]")[0]);
                                            } catch (e) {
                                                // second click on option in dropdown
                                                // console.log("Selected Option label");
                                                // console.log($(evt.target)[0].label);
                                                // console.log("Finding infoTypeLabel hidden input");
                                                // console.log($(evt.target).parent().parent().parent().parent().find("[id$=infoTypeLabel]")[0]);
                                                $(evt.target).parent().parent().parent().parent().find("[id$=infoTypeLabel]")[0].value =
                                                    $(evt.target)[0].label;
                                                // console.log("Rechecking hidden:");
                                                // console.log($(evt.target).parent().parent().parent().parent().find("[id$=infoTypeLabel]")[0]);
                                            }
                                        }
                                    },
                                    {
                                        "key": "mdcontactInformation[].infoTypeLabel",
                                        "type": "hidden"
                                    },
                                    {
                                        "key": "mdcontactInformation[].infoValue",
                                        "htmlClass": "infovalue",
                                        "notitle": "true"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "type": "tabarray",
                    "title": "Secretary Information",
                    "items": {
                        "type": "section",
                        "title": "Secretary {{idx}}",
                        "items": [
                            "secretaryList[].firstName",
                            "secretaryList[].lastName",
                            {
                                "type": "array",
                                "title": "Contact Info",
                                "items": [
                                    {
                                        "type": "fieldset",
                                        "htmlClass": "infoFS",
                                        "items": [
                                            {
                                                "key": "secretaryList[].contactInformation[].infoType",
                                                "htmlClass": "infotype pull-left",
                                                "notitle": "true",
                                                "titleMap": window.contactInfoTypeListPHP,
                                                "onChange": function (evt) {
                                                    console.log("sec contactinfo infoType got changed.");
                                                    $(evt.target).parent().parent().parent().find("[id$=infoTypeLabel]")[0].value=
                                                        $(evt.target)[0].selectedOptions[0].label;
                                                },
                                                "onInsert": function (evt) {
                                                    insertShim(evt);
                                                    // $(evt.target).parent().parent().find("[id$=infoTypeLabel]")[0].value=
                                                    //     $(evt.target).find("[id$=infoType]")[0].selectedOptions[0].label;
                                                },
                                                "onClick": function (evt) {
                                                    try {
                                                        // first click on dropdown
                                                        $(evt.target).parent().parent().parent().find("[id$=infoTypeLabel]")[0].value =
                                                            $(evt.target)[0].selectedOptions[0].label;
                                                    } catch (e) {
                                                        // second click on option in dropdown
                                                        $(evt.target).parent().parent().parent().parent().find("[id$=infoTypeLabel]")[0].value =
                                                            $(evt.target)[0].label;
                                                    }
                                                }
                                            },
                                            {
                                                "key": "secretaryList[].contactInformation[].infoTypeLabel",
                                                "type": "hidden"
                                            },
                                            {
                                                "key": "secretaryList[].contactInformation[].infoValue",
                                                "htmlClass": "infovalue",
                                                "notitle": "true"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]

                    }
                },
                {
                    "type": "array",
                    "title": "Product Info",
                    "items": [
                        {
                            "type": "fieldset",
                            "htmlClass": "infoFS",
                            "items": [
                                {
                                    "key": "products[].product",
                                    "htmlClass": "infotype pull-left",
                                    "notitle": true,
                                    "titleMap": window.productNameList,
                                    "description": "Product",
                                    "onChange": function (evt) {
                                        $(evt.target).parent().parent().parent().find("[id$=productLabel]")[0].value=
                                            $(evt.target)[0].selectedOptions[0].label;
                                    },
                                    "onInsert": function (evt) {
                                        $(evt.target).parent().parent().find("[id$=productLabel]")[0].value=
                                            $(evt.target).find("[id$=product]")[0].selectedOptions[0].label;
                                        insertShim(evt);
                                    },
                                    "onClick": function (evt) {
                                        try {
                                            // first click on dropdown
                                            $(evt.target).parent().parent().parent().find("[id$=productLabel]")[0].value =
                                                $(evt.target)[0].selectedOptions[0].label;
                                        } catch (e) {
                                            // second click on option in dropdown
                                            $(evt.target).parent().parent().parent().parent().find("[id$=productLabel]")[0].value =
                                                $(evt.target)[0].label;
                                        }
                                    }
                                },
                                {
                                    "key": "products[].productLabel",
                                    "type": "hidden"
                                },
                                {
                                    "key": "products[].datestarted",
                                    "type": "date",
                                    "htmlClass": "prodDate",
                                    "notitle": "true",
                                    "description": "Date Started",
                                    "onClick": function (evt) {
                                        try {
                                            // need to populate hidden, from dropdown label when this input is clicked
                                            // $(evt.target).parent().parent().parent().find("[id$=productLabel]")[0].value =
                                            //     $(evt.target)[0].selectedOptions[0].label;
                                        } catch (e) {
                                            // second click on option in dropdown
                                            // $(evt.target).parent().parent().parent().parent().find("[id$=productLabel]")[0].value =
                                            //     $(evt.target)[0].label;
                                        }
                                    }
                                },
                                {
                                    "key": "products[].datestopped",
                                    "type": "date",
                                    "htmlClass": "prodDate",
                                    "notitle": "true",
                                    "description": "Date Stopped",
                                }
                            ]
                        }
                    ]
                },
                {
                    "key": "specialties",
                    "type": "checkboxes",
                    "title": "Specialty",
                    "titleMap": window.specialtiesNameList,
                    "onInsert": function (evt) {
                        insertShim(evt);
                    }
                },
                {
                    "key": "specialtyLabel",
                    "type": "hidden"
                },
                {
                    "key": "subspecialties",
                    "type": "checkboxes",
                    "title": "Sub-Specialty",
                    "titleMap": window.subspecialtiesNameList,
                    "onInsert": function (evt) {
                        insertShim(evt);
                    }
                },
                {
                    "key": "subspecialtyLabel",
                    "type": "hidden"
                },
                {
                    "type": "array",
                    "title": "Potential",
                    "items": {
                        "type": "section",
                        "htmlClass": "infoFS",
                        "items": [
                            {
                                "key": "potentials[].potential",
                                "htmlClass": "infotype pull-left",
                                "notitle": true,
                                "titleMap": window.potentialList,
                                "description": "Potential",
                                "onInsert": function (evt) {
                                    insertShim(evt);
                                }
                            },
                            {
                                "key": "potentials[].potentialLabel",
                                "type": "hidden"
                            },
                            {
                                "key": "potentials[].datestarted",
                                "type": "date",
                                "htmlClass": "prodDate",
                                "notitle": "true",
                                "description": "Date Started"
                            }
                        ]
                    }
                },
                {
                    "type": "submit",
                    "title": "Save",
                    "onClick": function (evt) {
                        // evt.preventDefault();
                        // evt.stopPropagation();
                        console.log("whut whuuut");
                        console.log(window.labelShim);
                        // return false;
                    }
                }
            ],
            "onSubmitValid": function (values) {
                // "values" follows the schema, yeepee!
                console.log("onSubmitValid event");
                console.log(values);


                // $.post( "/mds/save", values)
                //     .done(function( data ) {
                //         alert( "Data Loaded: " + data );
                //         window.open(data,"_self");
                //     });
            }
        };

        if (Object.keys(window.formValuesPHP).length) {
            myForm["value"] = window.formValuesPHP;
        }

        $("#mdedit").jsonForm(myForm);

        $('#jsonform-1-elt-methodMeta').val(window.formMethodMeta);

        var fudge = function() {
            // submit form
            console.log("serializeArray");
            mdeditArray =  $('#mdedit').serializeArray();
            console.log(mdeditArray);

            var mddata = mdeditArray.reduce(function(obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            console.log("mddata");
            console.log(mddata);

            jezzon = {};
            _.each(mdeditArray, function(key, idx) {
                console.log('mdeditArray: '+idx+"\n\tkeyid: "+key.name+"\n\tvalue: "+key.value);
                if (key.name.search(/\./gi) > -1) {
                    keyring = key.name.split(/\./gi);
                    console.log(keyring);
                    _.each(keyring, function(krkey, kridx) {
                        if (krkey.search(/\[/gi) > -1) {
                            console.log("This here's array: "+krkey);
                            krnum = krkey.substring(
                                krkey.lastIndexOf("[")+1,
                                krkey.lastIndexOf("]"),
                            );
                            krkeybare = krkey.split(/\[/gi)[0];
                            console.log(
                                "barekey:" + krkeybare +
                                " krnum:" + krnum +
                                " key.value:" + key.value
                            );
                            jezzon[krkeybare] = [];
                            jezzon[krkeybare][krnum] = key.value;
                            console.log(jezzon);
                        } else {
                            console.log("This here's object: "+krkey);
                            jezzon[krkey] = {};
                            console.log(jezzon);
                        }
                    });
                } else {
                    jezzon[key.name] = key.value;
                }
            });
            console.log("jezzon");
            console.log(jezzon);
        };

        $( "#mdedit" ).submit(function( event ) {
            event.preventDefault();
            // fudge();
            return false;
        });

        document.getElementById("md-save").addEventListener("click", (event)=>{
            // fudge();
            $( "#mdedit" ).submit();
        });
        document.getElementById("cancel-changes").addEventListener("click", function(){
            // go to previous page: chorg list
            window.open("/chorg/list","_self");
        });

    });

</script>
<!-- /cut:js_dtchorg -->

</body>
</html>