<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>#TITLE_HEAD# | #app_title#</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/css/Ionicons/css/ionicons.min.css">

    <!-- cut:css_select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <!-- /cut:css_select2 -->
    <!-- cut:css_smart_wizard_theme_circles -->
    <link rel="stylesheet" href="/css/swtheme-circles-ctaf.css">
    <!-- /cut:css_smart_wizard_theme_circles -->
    <!-- cut:css_i_check -->
    <link rel="stylesheet" href="/plugins/iCheck/square/square.css">
    <!-- /cut:css_i_check -->
    <!-- cut:css_summer_note -->
    <link rel="stylesheet" href="/css/summernote.css">
    <!-- /cut:css_summer_note -->
    <!-- cut:css_data_tables -->
    <link rel="stylesheet" href="/plugins/DataTables/datatables.min.css">
    <!-- /cut:css_data_tables -->
    <!-- cut:css_survey_editor -->
    <link rel="stylesheet" href="/plugins/SurveyJS/surveyeditor.css">
    <!-- /cut:css_survey_editor -->

    <!-- Theme style -->
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <!-- CTAF Skin for AdminLTE 2 -->
    <link rel="stylesheet" href="/css/skins/skin-ctaf.css">
    <link rel="stylesheet" href="/css/skins/skin-ctaf-admin.css">

</head>
<body>
<!-- cut:content -->
<section class="content">
    <div class="box box-ctaf">
        <div class="box-body">
            <button type="button" id="md-save" class="btn btn-primary mb-10 bgc-1">Save</button>
            <button type="button" id="cancel-changes" class="btn btn-primary mb-10 bgc-1">Back to list</button>
            <div id="table_chorg_div" class="display" style="width:100%">
                <form id="mdedit"></form>
            </div>
            <div id="res" class="alert"></div>
        </div>
    </div>
</section>


<!-- /cut:content -->

<!-- jQuery 3 -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="/js/jquery.slimscroll.min.js"></script>-->
<!-- FastClick-->
<!--<script src="/js/fastclick.js"></script>-->
<!-- AdminLTE App-->
<!--<script src="/js/adminlte.min.js"></script>-->

<!-- cut:js_select2-->
<!--<script src="/plugins/select2/js/select2.full.min.js"></script>-->
<!-- /cut:js_select2-->
<!-- cut:js_i_check-->
<!--<script src="/plugins/iCheck/icheck.min.js"></script>-->
<!-- /cut:js_i_check-->
<!-- cut:js_jquery_validate-->
<!--<script src="/js/jquery.validate.min.js"></script>-->
<!-- /cut:js_jquery_validate-->
<!-- cut:js_red_connect-->
<!--
<script src="/js/ct-custom.js"></script>
-->
<!-- /cut:js_red_connect-->
<!-- cut:js_profile-->
<!--<script src="/js/profile.js"></script>-->
<!-- /cut:js_profile -->
<script>
    <!-- paste:custom_scripts -->
</script>

<!--jquery schedule-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/jqsched/jquery.schedule.js"></script>


<!-- cut:js_dtchorg -->
<!--jsonForm scripts-->
<script type="text/javascript" src="/jsonform/deps/underscore.js"></script>
<script type="text/javascript" src="/jsonform/deps/opt/jsv.js"></script>
<script type="text/javascript" src="/jsonform/lib/jsonform.js"></script>
<script type="text/javascript">

    window.chorgIDListPHP = #chorgidlist?#;
    window.chorgMapListPHP = #chorgmaplist?#;
    // info type list
    window.contactInfoTypeListPHP = #contactinfotypelist?#;
    window.contactInfoIDListPHP = #contactinfoIDlist?#;
    // form values
    window.formValuesPHP = #jsonvaluesphp?#;
    window.formValuesPHP["method"] = "#formmethod#";
    // product list
    window.productNameList = #productnamelist?#;
    window.productIDlist = #productidlist?#;
    // specialties list
    window.specialtiesNameList = #specialtiesnamelist?#;
    window.specialtiesIDlist = #specialtiesidlist?#;
    // subspecialties list
    window.subspecialtiesNameList = #subspecialtiesnamelist?#;
    window.subspecialtiesIDlist = #subspecialtiesidlist?#;
    // potential list
    window.potentialList = #potentialList?#;
    window.potentialIDlist = #potentialIDlist?#;


    JSONForm.fieldTypes['weeksched'] = {
        'template': '<div>' +
            '<input type="hidden" name="<%= node.name %>" id="<%= node.id %>" value="<%= value %>" />' +
            '<a class="btn" data-toggle="modal" href="#myModal<%= node.arrayPath[0]%>">' +
            '<%= buttonTitle %>' +
            '</a>' +
            '</div>' +
            '<div id="schedlist<%= node.arrayPath[0]%>"></div>' +
            '<div class="modal fade" id="myModal<%= node.arrayPath[0]%>" tabindex="-1" role="dialog" ' +
            'data-backdrop="static" aria-labelledby="myLargeModalLabel" aria-hidden="true">\n' +
            '    <div class="modal-dialog modal-lg" role="document">\n' +
            '        <div class="modal-content">\n' +
            '            <div class="modal-header">\n' +
            '                <button type="button" class="close" data-dismiss="modal">&times;</button>\n' +
            '                <h4 class="modal-title">Set schedule for location</h4>\n' +
            '<button id="schedSave" type="submit" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-check"></span> Save</button>' +
            '&nbsp;<button id="schedReset" type="button" class="btn btn-danger btn-default "        ><span class="glyphicon glyphicon-refresh"></span> Reset</button>' +
            '&nbsp;<button id="schedCancel" type="button" class="btn btn-danger btn-default " data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>' +
            '            </div>\n' +
            '            <div class="modal-body">\n' +
            '                <div id="schedule<%= node.arrayPath[0]%>" class="jqs-demo mb-3"></div>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>',
        'fieldtemplate': true,
        'inputfield': true,
        'onBeforeRender': function (data, node) {
            var elt = node.formElement || {};
            var nbRows = null;
            var maxColumns = elt.imageSelectorColumns || 5;
            data.buttonTitle = elt.imageSelectorTitle || 'Select...';
            data.buttonClass = elt.imageButtonClass || false;
            // if (node.options.length > maxColumns) {
            //     nbRows = Math.ceil(node.options.length / maxColumns);
            //     data.columns = Math.ceil(node.options.length / nbRows);
            // }
            // else {
            //     data.columns = maxColumns;
            // }
            data.columns = maxColumns;
        },
        'getElement': function (el) {
            return $(el).parent().get(0);
        },
        'onInsert': function (evt, node) {
            dayIdxName = [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
            ];
            jqsschedObj = node.value;
            $aHref = $(node.el).find('div#schedlist'+node.arrayPath[0]);
            _.each(jqsschedObj, function(key, idx) {
                if (key.periods.length) {
                    _.each(key.periods, function (key2, idx2){
                        $aHref.append('<p>'+dayIdxName[idx]+': '+key2.start+'-'+key2.end+'</p>');
                    });
                }
            });
            $(node.el).on('click', 'button#schedReset', function (evt){
                // console.log("Cancel got clicked");
                $('#schedule'+node.arrayPath[0]).jqs('reset');
                evt.preventDefault();
            });
            $(node.el).on('click', 'button#schedSave', function (evt){
                // console.log("Save got clicked");
                jqsschedObj = JSON.parse($('#schedule'+node.arrayPath[0]).jqs('export'));
                // console.log("sched obj");
                // console.log(jqsschedObj);
                $jqsschedString = JSON.stringify(jqsschedObj, null, 2);
                $aHref = $(node.el).find('div#schedlist'+node.arrayPath[0]);
                $aHref.empty();
                _.each(jqsschedObj, function(key, idx) {
                    if (key.periods.length) {
                        _.each(key.periods, function (key2, idx2){
                            $aHref.append('<p>'+dayIdxName[idx]+': '+key2.start+'-'+key2.end+'</p>');
                        });
                    }
                });

                $(node.el).find('input').attr('value', $jqsschedString);
                evt.preventDefault();
            });
            $('a.btn').on('click', function (e){
                locationLabel = $(node.el).prev().children()[0].childNodes[0].selectedOptions[0].label;
                $(node.el).find('h4.modal-title').text("Set schedule for "+locationLabel);
                // console.log("dom traverse check");
                // console.log(locationLabel);
                // e.preventDefault();
                // e.stopPropagation();
            });
            $('#myModal'+node.arrayPath[0]).on('shown.bs.modal', function (e) {
                // checkit = $(node.el).siblings()[0].childNodes[0].childNodes[0].textContent.trim();
                schedSt = $(node.el).find('input')[0].value;
                schedStOb = [];
                if (schedSt) {
                    schedStOb = JSON.parse($(node.el).find('input')[0].value);
                    // console.log("what is my modal's data");
                    // console.log(schedStOb);
                }
                $('#schedule'+node.arrayPath[0]).jqs({ hour: 12});
                $('#schedule'+node.arrayPath[0]).jqs('import',schedStOb);
                $('#schedule'+node.arrayPath[0]).trigger('focus');
            });
            $('#myModal'+node.arrayPath[0]).on('hidden.bs.modal', function (e) {
                $('#schedule'+node.arrayPath[0]).jqs('reset');
                // console.log("schedule was hidden");
            });
        }
    };
    JSONForm.fieldTypes['dateSelect'] = {
        'template': '<div>' +
            '<input type="text" name="<%= node.name %>" id="<%= node.id %>" value="<%= value %>" />' +
            '</div>',
        'fieldtemplate': true,
        'inputfield': true,
        'getElement': function (el) {
            return $(el).parent().get(0);
        },
        'onInsert': function (evt, node) {
            console.log("node: ");
            console.log(node.id);
            console.log(node);
            $("#"+node.id).on('click', function (e){
                console.log("my date field was clicked");
                console.log(e.target.id);
            });
        }
    };
    $("#mdedit").jsonForm({
        "schema": {
            "_id": {
                "type": 'string',
                "title": 'ID',
            },
            "method": {
                "type": "string",
                "title": "method",
            },
            "locations": {
                "type": "array",
                "title": "Clinic/Hospital Locations",
                "items": {
                    "type": "object",
                    "properties": {
                        "location": {
                            "type": "string",
                            "title": "",
                            "notitle": true,
                            "enum": window.chorgIDListPHP,
                        },
                        "schedule": {
                            "type": "string",
                            "notitle": true
                        }
                    }
                }
            },
            "firstName": {
                "type": "string",
                "title": "First Name"
            },
            "lastName": {
                "type": "string",
                "title": "Last Name"
            },
            "mdcontactInformation": {
                "type": "array",
                "title": "MD Contact Information",
                "items": {
                    "type": "object",
                    "properties": {
                        "infoType": {
                            "type": "string",
                            "enum": window.contactInfoTypeListPHP
                        },
                        "infoValue": {
                            "type": "string"
                        }
                    }
                }
            },
            "secretaryList":{
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "firstName": {
                            "type": "string",
                            "title": "First Name"
                        },
                        "lastName": {
                            "type": "string",
                            "title": "Last Name"
                        },
                        "contactInformation": {
                            "type": "array",
                            "title": "Contact Information",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "infoType": {
                                        "type": "string",
                                        "title": "Info Type",
                                        "enum": window.contactInfoTypeListPHP,
                                        // "required": true,
                                    },
                                    "infoValue" : {
                                        "type": "string",
                                        "title": "Info Value",
                                        // "required": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "products": {
                "type": "array",
                "title": "Product Information",
                "items": {
                    "type": "object",
                    "properties": {
                        "product": {
                            "type": "string",
                            "enum": window.productIDlist,
                            "required": true,
                        },
                        "datestarted" : {
                            "type": "string",
                            "required": true
                        },
                        "datestopped" : {
                            "type": "string"
                        }
                    }
                }
            },
            "specialty" : {
                "type": "array",
                "items": {
                    "type": "string",
                    "enum": window.specialtiesIDlist
                }
            },
            "subspecialty" : {
                "type": "array",
                "items": {
                    "type": "string",
                    "enum": window.subspecialtiesIDlist
                }
            },
            "potentials" : {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "potential": {
                            "type": "string",
                            "enum": window.potentialIDlist,
                            "required": true,
                        },
                        "datestarted" : {
                            "type": "string",
                            "required": true
                        }
                    }
                }
            }
        },
        "form": [
            {
                "key": "_id",
                "type": "hidden"
            },
            {
                "key": "method",
                "type": "hidden"
            },
            {
                "type": "tabarray",
                "title": "Clinic/Hospital Locations",
                "items": {
                    "type": "section",
                    "title": "Location {{idx}}",
                    "items": [
                        {
                            "key": "locations[].location",
                            "title": "",
                            "notitle": true,
                            "titleMap": window.chorgMapListPHP
                        },
                        {
                            "key": "locations[].schedule",
                            "notitle": "true",
                            "type": "weeksched",
                            "imageButtonClass": "btn",
                            "imageSelectorTitle": "Set/Edit schedule"
                        },
                    ]
                }
            },
            {
                "type": "fieldset",
                "title": "MD Name",
                "items": [
                    {
                        "key": "firstName",
                        "type": "text"
                    },
                    {
                        "key": "lastName",
                        "type": "text"
                    },
                    {
                        // "key": "mdcontactInformation",
                        "type": "array",
                        "title": "Contact Info",
                        "items": {
                            "type": "section",
                            "items": [
                                {
                                    "key": "mdcontactInformation[].infoType",
                                    "htmlClass": "infotype pull-left",
                                    "notitle": "true"
                                },
                                {
                                    "key": "mdcontactInformation[].infoValue",
                                    "htmlClass": "infovalue",
                                    "notitle": "true"
                                }
                            ]
                        }
                    }
                ]
            },
            {
                "type": "tabarray",
                "title": "Secretary Information",
                "items": {
                    "type": "section",
                    "title": "Secretary {{idx}}",
                    "items": [
                        "secretaryList[].firstName",
                        "secretaryList[].lastName",
                        {
                            "type": "array",
                            "title": "Contact Info",
                            "items": [
                                // "secretaryList[].contactInformation[]"
                                {
                                    "type": "fieldset",
                                    "htmlClass": "infoFS",
                                    "items": [
                                        {
                                            "key": "secretaryList[].contactInformation[].infoType",
                                            "htmlClass": "infotype pull-left",
                                            "notitle": "true"
                                        },
                                        {
                                            "key": "secretaryList[].contactInformation[].infoValue",
                                            "htmlClass": "infovalue",
                                            "notitle": "true"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]

                }
            },
            {
                "type": "array",
                "title": "Product Info",
                "items": [
                    {
                        "type": "fieldset",
                        "htmlClass": "infoFS",
                        "items": [
                            {
                                "key": "products[].product",
                                "htmlClass": "infotype pull-left",
                                "notitle": true,
                                "titleMap": window.productNameList,
                                "description": "Product"
                            },
                            {
                                "key": "products[].datestarted",
                                "type": "date",
                                "htmlClass": "prodDate",
                                "notitle": "true",
                                "description": "Date Started"
                            },
                            {
                                "key": "products[].datestopped",
                                "type": "date",
                                "htmlClass": "prodDate",
                                "notitle": "true",
                                "description": "Date Stopped",
                            }
                        ]
                    }
                ]
            },
            {
                "key": "specialty",
                "type": "checkboxes",
                "title": "Specialty",
                "titleMap": window.specialtiesNameList
            },
            {
                "key": "subspecialty",
                "type": "checkboxes",
                "title": "Sub-Specialty",
                "titleMap": window.subspecialtiesNameList
            },
            {
                "type": "array",
                "title": "Potential",
                "items": [
                    {
                        "type": "fieldset",
                        "htmlClass": "infoFS",
                        "items": [
                            {
                                "key": "potentials[].potential",
                                "htmlClass": "infotype pull-left",
                                "notitle": true,
                                "titleMap": window.potentialList,
                                "description": "Potential"
                            },
                            {
                                "key": "products[].datestarted",
                                "type": "date",
                                "htmlClass": "prodDate",
                                "notitle": "true",
                                "description": "Date Started"
                            }
                        ]
                    }
                ]
            },
            {
                "type": "submit",
                "title": "Save"
            }
        ],
        "displayErrors": function (errors, formElt) {
            console.log("errors");
            console.log(errors);
            // for (var i=0; i<errors.length; i++) {
            //     errors[i].message = "Avast! Ye best be fixin' that field!";
            // }
            // $(formElt).jsonFormErrors(errors, formObject);
        }
        // "value": window.formValuesPHP
    });

    $( document ).ready(function() {
        $('#mdedit').attr('action', "/mds/save");
        $('#mdedit').attr('method', "POST");
        $('#jsonform-1-elt-method').attr('value', "POST");

        // console.log('window.contactInfoTypeListPHP');
        // console.log(window.contactInfoTypeListPHP);
        // console.log('window.contactInfoIDListPHP');
        // console.log(window.contactInfoIDListPHP);


        document.getElementById("md-save").addEventListener("click", function(){
            // submit form
            console.log("Save button got clicked.");
            try {
                submitformvalues = $("#mdedit").submit();
                console.log(submitformvalues);
            }
            catch (e) {
                console.log("error caught");
                console.log(e);
            }
        });
        document.getElementById("cancel-changes").addEventListener("click", function(){
            // go to previous page: chorg list
            window.open("/chorg/list","_self");
        });

    });

</script>
<!-- /cut:js_dtchorg -->

</body>
</html>