/**
 * Main layout customization
 * ------------
 */

fieldset {
    border: 1px solid #ddd;
    padding: 10px 0 0;
    margin-bottom: 15px;
}
legend {
    width: auto;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 10px;
    padding: 0 5px;
}
::-webkit-input-placeholder {
    color: #999;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #999;
    font-style: italic;
}
::-ms-input-placeholder {
    color: #999;
    font-style: italic;
}
::placeholder {
    color: #999;
    font-style: italic;
}
.box.box-ctaf {
    border-top-color: #555;
}
.nav-tabs > .nav-stacked li.active a {
    background-color: #edf4f9;
    color: #000000;
}
.content-wrapper {
    /*background: #fff8f9;*/
    background: rgb(90,185,234);
    background: linear-gradient(180deg, rgba(90,185,234,1) 10%, rgba(132,206,235,1) 30%, rgba(193,200,228,1) 60%);
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header {
    background-color: #dfeaee;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    font-size: 13px;
    line-height: 13px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > small {
    color: #aaa;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    color: #444;
}
.user-avatar {
    border-radius: 50%;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    font-size: 88px;
    background-color: #d2d6de;
    padding: 0;
}
.user-avatar > span {
    position: relative;
    top: -20px;
    opacity: 0.25;
    filter: alpha(opacity=25);
}
.main-footer {
    border-top-color: #ccc;
    border-top-width: 2px;
}
.form-horizontal .control-label .text-left {
    text-align: left;
}
/*
 * Plugin: Select2
 * ---------------
 */
.select2-container--default.select2-container--focus,
.select2-selection.select2-container--focus,
.select2-container--default:focus,
.select2-selection:focus,
.select2-container--default:active,
.select2-selection:active {
    outline: none;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px;
}
.select2-container--default.select2-container--open {
    border-color: #3c8dbc;
}
.select2-dropdown {
    border: 1px solid #d2d6de;
    border-radius: 0;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3c8dbc;
    color: white;
}
.select2-results__option {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -4px;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 6px;
    padding-left: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px;
    right: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0;
}
.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de;
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
    outline: none;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #3c8dbc !important;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
}
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #444;
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple:focus {
    border-color: #3c8dbc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d2d6de;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.7);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--multiple .select2-selection__placeholder,
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    font-style: italic;
}
.has-error .select2-selection {
    border-color: #dd4b39;
}
/**
 * Skin: CTAF
 * ------------
 */

body {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: absolute;
}

.skin-ctaf .main-header .navbar {
    background-color: #8860D0;
}
.skin-ctaf .main-header .navbar .nav>li>a {
    color: #fff;
}
.skin-ctaf .main-header .navbar .nav>li>a:hover,
.skin-ctaf .main-header .navbar .nav>li>a:active,
.skin-ctaf .main-header .navbar .nav>li>a:focus,
.skin-ctaf .main-header .navbar .nav .open>a,
.skin-ctaf .main-header .navbar .nav .open>a:hover,
.skin-ctaf .main-header .navbar .nav .open>a:focus,
.skin-ctaf .main-header .navbar .nav>.active>a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-ctaf .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-ctaf .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}
.skin-ctaf .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-ctaf .main-header .navbar .sidebar-toggle:hover {
    background-color: #555299;
}
@media (max-width: 767px) {
    .skin-ctaf .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-ctaf .main-header .navbar .dropdown-menu li a {
    color: #fff;
    }
    .skin-ctaf .main-header .navbar .dropdown-menu li a:hover {
    background: #555299;
    }
}
.skin-ctaf .main-header .logo {
    background-color: #555299;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-ctaf .main-header .logo:hover {
    background-color: #545096;
}
.skin-ctaf .main-header li.user-header {
    background-color: #fff;
}
.skin-ctaf .content-header {
    background: transparent;
}
.skin-ctaf .wrapper,
.skin-ctaf .main-sidebar,
.skin-ctaf .left-side {
    background-color: #222d32;
}
.skin-ctaf .user-panel>.info,
.skin-ctaf .user-panel>.info>a {
    color: #fff;
}
.skin-ctaf .sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}
.skin-ctaf .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
.skin-ctaf .sidebar-menu>li:hover>a,
.skin-ctaf .sidebar-menu>li.active>a,
.skin-ctaf .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #1e282c;
}
.skin-ctaf .sidebar-menu>li.active>a {
    border-left-color: #605ca8;
}
.skin-ctaf .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.skin-ctaf .sidebar a {
    color: #b8c7ce;
}
.skin-ctaf .sidebar a:hover {
    text-decoration: none;
}
.skin-ctaf .sidebar-menu .treeview-menu>li>a {
    color: #8aa4af;
}
.skin-ctaf .sidebar-menu .treeview-menu>li.active>a,
.skin-ctaf .sidebar-menu .treeview-menu>li>a:hover {
    color: #fff;
}
.skin-ctaf .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.skin-ctaf .sidebar-form input[type="text"],
.skin-ctaf .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.skin-ctaf .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-ctaf .sidebar-form input[type="text"]:focus,
.skin-ctaf .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
.skin-ctaf .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    border-left-color: #fff;
}
.skin-ctaf .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.color-red {
    color: #dd4b39 !important;
    font-size: 15px;
}
label.error {
    margin-bottom: 0;
}
.nav-tabs-custom > .nav-tabs > li {
    background-color: #f3f3f3;
}
.nav-tabs-custom > .nav-tabs > li > a {
    color: #999;
    border-bottom: 0px;
}
.nav-tabs-custom > .nav-tabs > li > a:hover {
    color: #444;
}
.nav-tabs > .tab-content {
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-pane > .form-group {
    margin-top: 30px;
}
.tab-pane > .form-group ~ .form-group {
    margin-top: 0;
}

.textdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.texttitle {
    flex-grow: 0;
}
.divider {
    flex-grow: 1;
    height: 1px;
    background-color: #9f9f9f;
}
.graybg {
    background-color: #efefef;
}

.checkbox label,
.radio label {
    padding-left: 0;
    margin-right: 25px;
    margin-left: 25px;
}
.checkbox label div,
.radio label div {
    margin-right: 5px;
    float: left;
}

.cbactive input {
    margin-left: 25px;
}


.border-bottom {
    border-bottom: 1px solid #d3d3d3;
}
.box-empty {
    padding: 80px 20px;
    text-align: center;
}
.box-empty h3 {
    text-align: inherit;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-60 {
    margin-top: 60px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.field-name {
    color: #939393
}
.highlight {
    background-color: #ff0;
}
.button-box:before,
.button-box:after {
    display: table;
    content: " ";
}
.button-box:after {
    clear: both;
}
.button-box {
    padding: 5px 0 10px 0;
}
.breadcrumb {
    background: transparent;
    font-size: 12px;
    padding-left: 0px;
}
.form-horizontal .control-label {
    margin-bottom: 5px;
    padding-top: 0px;
}
.panel-body {
    border-left: 4px solid #f4f4f4;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-top: 0;
}

.has-source .btn-sm {
    padding: 4px;
}

.has-source th {
    font-weight: lighter;
}

.clear-panel {
    margin-right: 10px;
}

button.add-element-in-panel {
    margin-bottom: 5px;
    margin-right: 50px;
    border-bottom: 2px dotted #00a65a;
}

button.delete-element-in-panel {
    margin-bottom: 5px;
    margin-right: 50px;
    border-bottom: 2px dotted #00a65a;
}

#pnl-methodologyAndRatingSystem2 h3 {
    font-size: 15px;
    font-weight: bold;
}

.skirt {
    margin-top: 300px;
    width: 100%;
    height: 20px;
    border-style: double;
    border-color: coral;
    border-width: 3px;
}

/*debug*/
.wherethis {
    border-style: dotted;
    border-color: coral;
    border-width: 3px;
}

.wtpbg1 {
    background-color: #01ff70 !important;
}
.wtpbg2 {
    background-color: #00faff !important;
}
.wtpbg3 {
    background-color: #0002ff !important;
}
.wtpbg4 {
    background-color: #ff00fa !important;
}
.wtpbg5 {
    background-color: #ff000c !important;
}
.wtpbg6 {
    background-color: #ff7d00 !important;
}
.wtpbg7 {
    background-color: #fff800 !important;
}
.wtpbg8 {
    background-color: #b0ffbe !important;
}


